* 
  body {
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">;
    grid-row
  }
  
  
  header {
    background-color: rgb(77, 114, 77);
    text-align: center;
    font-size: 35px;
    color: rgb(236, 234, 234);
    height: 25vh;
    margin: 0px;
    display: flex;
    justify-content: center;
  }
  a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-weight: bold;
  }
  
  nav {
    background: rgba(116, 89, 89, 0.075);
    text-align: center;
    color: black;
    height: 5vh;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
  }
  li{
    list-style: none;
  }

  #kelso{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main {
    text-align: center;
    background-color: #94949442;
    height:60vh;
    width:10vw 80vw 10vw;
    list-style-type: none;
  }
  

  
  footer {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    text-align: center;
    color: gray;
    height: 10vh;
    text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
  }
